In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd
from datgan.datgan import DATGAN

import networkx as nx

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

WARNING:tensorflow:From D:\Users\glede\anaconda3\envs\py37\lib\site-packages\tensorpack\callbacks\hooks.py:17: The name tf.train.SessionRunHook is deprecated. Please use tf.estimator.SessionRunHook instead.

WARNING:tensorflow:From D:\Users\glede\anaconda3\envs\py37\lib\site-packages\tensorpack\tfutils\optimizer.py:18: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From D:\Users\glede\anaconda3\envs\py37\lib\site-packages\tensorpack\tfutils\sesscreate.py:20: The name tf.train.SessionCreator is deprecated. Please use tf.compat.v1.train.SessionCreator instead.

In [3]:
df = pd.read_csv('example/data/CMAP.csv', index_col=False)

In [4]:
df.head()

,choice,travel_dow,trip_purpose,distance,hh_vehicles,hh_size,hh_bikes,hh_descr,hh_income,gender,age,license,education_level,work_status,departure_time
0,drive,7,HOME_OTHER,3.93477,2,3,3,detached,6,0,30,1,4,PTE,20.166667
1,drive,2,SHOPPING,0.31557,3,3,3,detached,7,0,54,1,5,FTE,17.500000
2,drive,2,SHOPPING,0.28349,1,1,0,detached,3,0,80,1,3,PTE,9.333333
3,drive,2,OTHER,0.69417,2,2,0,detached,5,1,42,1,5,FTE,13.783333
4,passenger,1,SHOPPING,4.30666,2,2,1,detached,4,0,32,0,3,Unemployed,11.566667

In [5]:
continuous_columns = ["distance", "age", "departure_time"]

In [6]:
graph = nx.DiGraph()
graph.add_edges_from([
    ("age", "license"),
    ("age", "education_level"),
    ("gender", "work_status"),
    ("education_level", "work_status"),
    ("education_level", "hh_income"),
    ("work_status", "hh_income"),
    ("hh_income", "hh_descr"),
    ("hh_income", "hh_size"),
    ("hh_size", "hh_vehicles"),
    ("hh_size", "hh_bikes"),
    ("work_status", "trip_purpose"),
    ("trip_purpose", "departure_time"),
    ("trip_purpose", "distance"),
    ("travel_dow", "choice"),
    ("distance", "choice"),
    ("departure_time", "choice"),
    ("hh_vehicles", "choice"),
    ("hh_bikes", "choice"),
    ("license", "choice"),
    ("education_level", "hh_size"),
    ("work_status", "hh_descr"),
    ("work_status", "hh_size"),
    ("hh_income", "hh_bikes"),
    ("hh_income", "hh_vehicles"),
    ("trip_purpose", "choice")
])

In [7]:
output_folder = './example/output/'

In [8]:
datgan = DATGAN(output=output_folder)

In [9]:
datgan.preprocess(df, continuous_columns, preprocessed_data_path='./example/encoded_data')

[0111 11:19:16 @datgan.py:186] Preprocessing the data!
[0111 11:19:16 @data.py:110] Encoding categorical variable "choice"...
[0111 11:19:16 @data.py:110] Encoding categorical variable "travel_dow"...
[0111 11:19:16 @data.py:110] Encoding categorical variable "trip_purpose"...
[0111 11:19:16 @data.py:97] Encoding continuous variable "distance"...
[0111 11:19:16 @data.py:284]   Fitting model with 10 components
[0111 11:19:24 @data.py:311]   Predictions were done on 7 components => Fit with 7 components!
[0111 11:19:31 @data.py:311]   Predictions were done on 6 components => Fit with 6 components!
[0111 11:19:37 @data.py:316]   Predictions were done on 6 components => FINISHED!
[0111 11:19:37 @data.py:319]   Train VGM with full data
[0111 11:19:43 @data.py:110] Encoding categorical variable "hh_vehicles"...
[0111 11:19:43 @data.py:110] Encoding categorical variable "hh_size"...
[0111 11:19:43 @data.py:110] Encoding categorical variable "hh_bikes"...
[0111 11:19:43 @data.py:110] Encoding categorical variable "hh_descr"...
[0111 11:19:43 @data.py:110] Encoding categorical variable "hh_income"...
[0111 11:19:43 @data.py:110] Encoding categorical variable "gender"...
[0111 11:19:43 @data.py:97] Encoding continuous variable "age"...
[0111 11:19:43 @data.py:284]   Fitting model with 10 components
[0111 11:19:52 @data.py:311]   Predictions were done on 5 components => Fit with 5 components!
[0111 11:19:58 @data.py:316]   Predictions were done on 5 components => FINISHED!
[0111 11:19:58 @data.py:319]   Train VGM with full data
[0111 11:20:04 @data.py:110] Encoding categorical variable "license"...
[0111 11:20:04 @data.py:110] Encoding categorical variable "education_level"...
[0111 11:20:04 @data.py:110] Encoding categorical variable "work_status"...
[0111 11:20:04 @data.py:97] Encoding continuous variable "departure_time"...
[0111 11:20:04 @data.py:284]   Fitting model with 10 components
[0111 11:20:12 @data.py:311]   Predictions were done on 6 components => Fit with 6 components!
[0111 11:20:19 @data.py:316]   Predictions were done on 6 components => FINISHED!
[0111 11:20:19 @data.py:319]   Train VGM with full data
[0111 11:20:26 @datgan.py:205] Preprocessed data have been saved in './example/output/encoded_data'